@font-face {
  font-family: TTHoves-Medium;
  src: url(./TTHoves-Medium.otf);
}
@font-face {
  font-family: TTHoves-Regular;
  src: url(./TTHoves-Regular.otf);
}
@font-face {
  font-family: TTOctosquares-DBold;
  src: url(./TTOctosquares-DBold.otf);
}
@font-face {
  font-family: TTOctosquares-Light;
  src: url(./TTOctosquares-Light.otf);
}